
body {
    background-color: rgb(198, 141, 255);
}
p {
    color: rgb(86, 22, 145);
    font-size: x-small;
}
body {
    background-color: rgb(65, 101, 194);
}
h1 {
    font-family: monospace;
}
.escarcha {
    font-size: 100px;
}
